acme.json
.env

grafana/*
!grafana/custom-template/
!grafana/.keep

influxdb/*
!influxdb/init/
!influxdb/influxdb.conf

fail2ban/data/db/

loki/*
!loki/loki-config.yml

promtail/*
!promtail/promtail-config.yml

telegraf/*
!telegraf/telegraf.conf

logs/access.log
logs/traefik.log
