services:
  noti-service:
    image: josephgotran/notification-service:latest
    container_name: notification_service
    restart: always
    environment:
      - DYNAMODB_ENDPOINT=${DYNAMODB_ENDPOINT:-http://dynamodb-local:8000}
      - DYNAMODB_REGION=${DYNAMODB_REGION:-us-west-2}
      - DYNAMODB_ACCESS_KEY_ID=${DYNAMODB_ACCESS_KEY_ID}
      - DYNAMODB_SECRET_ACCESS_KEY=${DYNAMODB_SECRET_ACCESS_KEY}
      - DYNAMODB_TABLE_NAME=${DYNAMODB_TABLE_NAME}
      - DB_TYPE=${DB_TYPE}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_REFRESH_SECRET=${JWT_REFRESH_SECRET}
      - KAFKA_BROKER=${KAFKA_BROKER:-kafka:29092}
    ports:
      - 3000:3000
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traffic_net"
      - "traefik.http.services.noti-service.loadbalancer.server.port=3000"
      - "traefik.http.routers.noti-service.rule=Host(`api.joseph.works`) && PathPrefix(`/notifications`)"
      - "traefik.http.routers.noti-service.entrypoints=websecure"
      - "traefik.http.routers.noti-service.tls.certresolver=letsencrypt"
      - "traefik.http.middlewares.noti-service-strip-prefix.stripprefix.prefixes=/notifications"
      - "traefik.http.routers.noti-service.middlewares=noti-service-strip-prefix@docker"
    depends_on:
      - dynamodb-local
    networks:
      - traffic_net
      - kafka-network

  dynamodb-local:
    container_name: dynamodb-local
    image: amazon/dynamodb-local:latest
    ports:
      - "5433:8000"
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    volumes:
      - ./dynamodb-data:/home/dynamodblocal/data
    working_dir: /home/dynamodblocal
    networks:
      - traffic_net

  dynamodb-admin:
    image: aaronshaf/dynamodb-admin
    container_name: dynamodb-admin
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traffic_net"
      - "traefik.http.services.dynamodb-admin.loadbalancer.server.port=8001"
      - "traefik.http.routers.dynamodb-admin.rule=Host(`db.joseph.works`)"
      - "traefik.http.routers.dynamodb-admin.entrypoints=websecure"
      - "traefik.http.routers.dynamodb-admin.tls.certresolver=letsencrypt"
    environment:
      DYNAMO_ENDPOINT: http://dynamodb-local:8000
    depends_on:
      - dynamodb-local
    networks:
      - traffic_net


networks:
    traffic_net:
        external: true
    kafka-network:
        external: true
